body{
margin:0;
padding:0;
font-family:"Segoe UI",Arial;
background:linear-gradient(135deg,#4facfe,#43e97b);
min-height:100vh;
}


.container{
width:900px;
margin:40px auto;
background:white;
padding:30px;
border-radius:18px;
box-shadow:0 20px 45px rgba(0,0,0,0.25);
}


h1{
text-align:center;
color:#2563eb;
}

.subtitle{
text-align:center;
color:#475569;
margin-bottom:20px;
}

h3{
color:#1e293b;
margin-top:25px;
}


.badge{
padding:6px 14px;
border-radius:20px;
color:white;
font-weight:bold;
}

.running{
background:#22c55e;
}

.stopped{
background:#ef4444;
}


.controls{
text-align:center;
}


button{
padding:10px 18px;
margin:6px;
border:none;
border-radius:10px;
font-size:14px;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:translateY(-2px);
box-shadow:0 6px 15px rgba(0,0,0,0.25);
}

.start{
background:#22c55e;
color:white;
}

.stop{
background:#ef4444;
color:white;
}

.custom{
background:#2563eb;
color:white;
}

.send{
background:#2563eb;
color:white;
}


.camera-box{
text-align:center;
}

#camera{
border-radius:12px;
border:4px solid #e2e8f0;
margin-top:10px;
}


ul{
list-style:none;
padding:0;
}

ul li{
background:#f1f5f9;
margin-bottom:10px;
padding:12px 14px;
border-radius:10px;
border-left:6px solid #2563eb;
}

ul li:hover{
background:#e0e7ff;
}


.chat{
background:#f8fafc;
padding:14px;
border-radius:10px;
}

#chatBox{
height:150px;
overflow-y:auto;
margin-bottom:10px;
}

#userInput{
width:70%;
padding:8px;
border-radius:8px;
border:1px solid #cbd5f5;
}


/* ACTION PANEL */

.action-panel{
margin:20px 0;
text-align:center;
}

#actionBox{
background:#eef2ff;
padding:18px;
border-radius:12px;
font-size:20px;
font-weight:bold;
color:#1e40af;
display:flex;
align-items:center;
justify-content:center;
gap:10px;
}

#actionIcon{
font-size:28px;
}